:root {
  --primary: rgba(68,88, 119, 1);
  --secondary: rgba(146, 204, 206, 1);
  --tertiary: rgba(49, 52, 61, 1);
  --dark: rgba(28, 29, 33, 1);
  --light: rgba(238, 238, 247, 1);
}


body {
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5;
  background-color: var(--light);
}

/* NAVBAR */

.navbar-nav a {
  color: rgba(146, 204, 206, 1) !important;
  margin-right: 60px;
  background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition:  all 0.25s ease-in;

}

.navbar {
margin: 0px 10px 0px 10px;
min-height: 100px;
background-color: var(--tertiary);


}

.navbar-brand {
  margin: 0px;
  padding: 10px;
  background-color: var(--secondary);
  font-weight: bolder;
  font-size: 1.1rem;
}

.nav-item a:hover{
    background-size: 100% 100%;
    color: var(--primary) !important;
  }



/* JUMBO */

.jumbotron-fluid {
  background-color: var(--light);
  padding: 1px !important;
  margin: 10px;
  background-color: var(--light);
}

.jumboImg img {
  margin: 45px;  
}


/* About me */

.aboutMe {
  margin-bottom: 25px;
}

/* WORK */

   .card{
    border: 4px solid var(--secondary) !important;
    margin: 10px;
   }

  .aside {
    border-right: 4px solid var(--tertiary);
    text-align: right;
    font-size: 40px;
      }

  .card-body {
    background-color: var(--tertiary);
    color: var(--secondary);
  }

  .card:hover {
    box-shadow: 0 10px 20px var(--secondary);
  }

/* contact */

.contact {
  margin-top: 15px;
  margin-bottom: 20px;  
}

.contact a:hover {
  box-shadow: 0 5px 15px var(--secondary);
}

/* footer */

.navbar2 {
    margin: 10px 10px 0px 10px;
    min-height: 100px;
    background-color: var(--tertiary);

}

.navbar-brand2 {
  margin: 0px;
  padding: 10px;
  background-color: var(--secondary);
 }

